body{
    margin: 0 auto;
    font-family: garamond;
}
pre{
    font-family: garamond;
}
a{
    text-decoration: none;
    color: black;
}
nav{display: flex;
    justify-content: space-between;
    position: fixed;
    border: 2px solid;
    border-color: black;
    width: 100%;
    height: 100px;
    top: 0;
    display: flex;
    background-color: white;
}    
.d1{
    display: flex;
    justify-content: space-between;
    float: right;
    margin-right: 8%;
    width: 35%;
    align-items: center;
    font-size: 20px;
}
.d2{
    display: flex;
    margin-left: 8%;
    width: 30%;
    align-items: center;
}
.type{
    font-size: 25px;
}
.kcb{
    font-size: larger;
}
.glav{
    width: 100%;
    height: 800px;
    margin-top: 125px;
}
.glav div{
    width: 86%;
    margin-left: 8%;
}
.txt{
    margin-top: 3%;
}
.glav h1{
    margin-left: 8%;
    margin-top: 7%;
}
.glav h2{
    margin-left: 8%;
}
.ssylki{
    margin-left: 8%;
}
.boxf{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    width: 100%;
}
.bur{
    width: 15%;
    height: 40%;
    text-align: center;
    border: 1px solid;
    border-color: black;
    border-radius: 10%;
}
.boxf img{
    width: 98%;
    height: 80%;
    border-radius: 10%;
}

.krl{
    width: 15%;
    height: 40%;
    text-align: center;
    border: 1px solid;
    border-color: black;
    border-radius: 10%;
    margin-left: 5%;
}
.krr{
    width: 15%;
    height: 40%;
    text-align: center;
    border: 1px solid;
    border-color: black;
    border-radius: 10%;
    margin-right: 5%;
}
.txt{
    font-size: 20px;
}
.nogi{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 25%;
    width: 50%;
    height: 125px;
}
.nogi img{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin-left: 3%;
}
.nogi img:hover{
    width: 110px;
    height: 110px;
}